@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-next{
    color: white;
}
.swiper-button-prev{
    color: white;
}

.Toastify__toast--success {
    background-color: white !important;
  }
  
  .Toastify__toast--error {
    background-color: white !important;
  }
  
  .Toastify__toast--success .Toastify__progress-bar {
    background-color: #8B95EE !important; 
  }
  .Toastify__toast--error .Toastify__progress-bar {
    background-color: red !important;
  }

.Toastify__toast--success .Toastify__toast-body {
    color: black !important;
  }
  
  .Toastify__toast--error .Toastify__toast-body {
    color: black !important;
  }
  
  
  